{% extends "base.html" %}
{%- block title %}Javascript Game{% endblock %}
{% block head %}<link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
<link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">{% endblock %}
{%- block script %}<script src="{{url_for('static', filename='game.js')}}"></script>
{% endblock %}
{% block game %}    <div id="game-window">
        <div id="game-over-window">Game over
            <div id="game-over-score">0</div>
        </div>
        <div id="high-score">0</div>
        <div id="flying-element"></div>
        <div id="floor"></div>
        <div id="higher-pipe"></div>
        <div id="lower-pipe"></div>
        <div id="upper-pipe-left-corner"></div>
        <div id="lower-pipe-left-corner"></div>
        <div id="upper-pipe-right-corner"></div>
        <div id="start-screen">Press space to start the game
            <div id="start-cloud"></div>
            <div id="start-flying-element"></div>
            <div id="start-pipe"></div>
        </div>
    </div>{% endblock %}

