{% extends "base.html" %}
{%- block title %}Javascript Game{% endblock %}
{% block head %}<link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
<link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='style_score.css')}}">{% endblock %}
{% block game %}

    <div id="game-window">
        <div id="game-over-window">Game over
            <div id="game-over-score">0</div>
            <div id="buttons">
                <a href="/scorelist"><div class="ingame-button ingame-yellow">Scorelist</div></a>
                <a href="/game"><div class="ingame-button second-button">Play again</div></a>
            </div>
        </div>
        <div id="score-table">
            High Score
            <div id="table-wrapper">
                <table>
                    <tr>
                        <th>Position</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                    {% for element in high_scores %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{ element["username"] }}</td>
                        <td>{{ element["score"] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="buttons">
                <a href="/game"><div class="ingame-button second-button">Play again</div></a>
            </div>
        </div>
     <audio id="chick-up" preload="auto"><source src="{{url_for('static', filename='chick-up.mp3')}}" type="audio/mpeg" /></audio>
    <audio id="game-over" preload="auto"><source src="{{url_for('static', filename='game-over.mp3')}}" type="audio/mpeg" /></audio>
        <div id="high-score">0</div>
        <div id="flying-element"></div>
        <div id="floor"></div>
        <div id="higher-pipe"></div>
        <div id="lower-pipe"></div>
        <div id="upper-pipe-left-corner"></div>
        <div id="lower-pipe-left-corner"></div>
        <div id="upper-pipe-right-corner"></div>
        <div id="start-screen">Press space to start the game
            <div id="start-cloud"></div>
            <div id="start-flying-element"></div>
            <div id="start-pipe"></div>
        </div>
    </div>{% endblock %}

{%- block script %}<script src="{{url_for('static', filename='game.js')}}"></script>
{% endblock %}