   {% extends "base.html" %}
   {%- block title %}Score{% endblock %}
   {% block score %}<div class="wrapper">
            <table>
                <caption>High Score</caption>
                <tr>
                    <th>Position</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Testname</td>
                    <td>123</td>
                </tr>
            </table>
        </div>{% endblock %}

