<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Score</title>
        <link rel="stylesheet" href="style_score.css">
         <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    </head>
    <body>
        <div class="wrapper">
            <table>
                <caption>High Score</caption>
                <tr>
                    <th>Position</th>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Testname</td>
                    <td>123</td>
                </tr>
            </table>
        </div>
    </body>
</html>